<div class="container">
  <div class="page-header">
    <h3>Messages</h3>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-8">
      <div class="table-responsive">
        <div ng-if="vm.messages.length == 0">No Messages exist</div>
        <table class="table" ng-if="vm.messages.length">
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="m in vm.messages track by m._id">
              <td>{{m.sentDate | date}}</td>
              <td>{{m.title}}</td>
              <td><span>
                <button class="btn btn-danger btn-xs" ng-click="vm.showConfirmDelete(m)"><i class="glyphicon glyphicon-trash"></span></i>
                  <button class="btn btn-primary btn-xs" ng-click="vm.showMessage(m)"><i class="glyphicon glyphicon-open"></span></i>
              </span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="col-sm-10">
      <button class="btn btn-primary" ng-click="vm.getMessages()">Refresh</button>
    </div> -->
  </div>
</div>
