<div class="container" ng-controller="OwnerController">
  <div class="page-header">
    <h3>Projects</h3>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-8">
      <div ng-if="vm.projects.length == 0">No Projects have been assigned to you.</div>
      <div class="panel panel-info" ng-repeat="p in vm.projects">
        <div class="panel-heading">
          <h3 class="panel-title">{{p.title}}</h3>
        </div>
        <div class="panel-body">
          <div ng-if="p.status === 'Started'">
            <span class="label label-success label-md">Status: {{p.status}}</span>
            <p><strong>Start Date :</strong> {{p.startDate | date}}</p>
          </div>
          <div ng-if="p.status === 'Completed'">
            <span class="label label-default label-md">Status: {{p.status}}</span>
            <p><strong>Completion Date :</strong> {{p.completeDate | date}}</p>
          </div>
          <p>{{p.description}}</p>
          <br />
          <p><span ng-repeat="skill in p.skill" class="badge">{{skill.name}}</span></p>
        </div>
        <div class="col-xs-12" ng-if="vm.errors.length">
          <ul class="list-group">
            <li class="list-group-item alert-danger" ng-repeat="error in vm.errors"><i class="glyphicon glyphicon-alert"></i><strong> {{error}}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
